[*.cs]

# MEAI001: Este tipo se incluye solo con fines de evaluación y está sujeto a cambios o a que se elimine en próximas actualizaciones. Suprima este diagnóstico para continuar.
dotnet_diagnostic.MEAI001.severity = suggestion
